<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Xenitt - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.ico">

        <!-- Plugins css -->
        <link href="/static/flatpickr/flatpickr.min.css" />
        <link href="/static/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/libs/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
        <!-- App css -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/xenittcss.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            <div class="navbar-custom navbar-custom-light">
                {% if current_user.is_authenticated %}
                <ul class="list-unstyled topnav-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="/static/images/users/1.jpg" alt="user-image" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                {{ current_user.name }} <i class="mdi mdi-chevron-down"></i> 
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Bienvenido !</h6>
                            </div>

                            <!-- item-->
                            <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fe-user"></i>
                                <span>Mi cuenta</span>
                            </a>-->

                            <div class="dropdown-divider"></div>

                            <!-- item-->
                            <a href="{{ url_for('auth.logout') }}" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Cerrar Sesión</span>
                            </a>

                        </div>
                    </li>

                </ul>
                {% endif %}

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="{{ url_for('main.panel') }}" class="logo text-center">
                        <span class="logo-lg">
                            <img src="/static/images/logo-xenitt2.png" alt="" height="35">
                            <!-- <span class="logo-lg-text-light">UBold</span> -->
                        </span>
                        <span class="logo-sm">
                            <!-- <span class="logo-sm-text-dark">U</span> -->
                            <img src="/static/images/logo-xenitt-mini.png" alt="" height="35">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Navegación</li>

                            {% if current_user.is_admin %}
                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-users"></i>
                                    <span> Administración </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="{{ url_for('main.users') }}">Usuarios</a>
                                    </li>   
                                </ul>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="{{ url_for('main.companies') }}">Empresas</a>
                                    </li>   
                                </ul>
                            </li>
                            {% endif %}

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-airplay"></i>
                                    <span> Panel de Control </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="{{ url_for('main.panel') }}">Dashboard</a>
                                    </li>
                                </ul>
                            </li>

                            <!--<li>
                                <a href="javascript: void(0);">
                                    <i class="fe-bar-chart-2"></i>
                                    <span> Gráficos </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="">Sensores</a>
                                    </li>
                                </ul>
                            </li>-->
                
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            {% block content %}
            {% endblock %}
            <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2015 - 2019 &copy; UBold theme by <a href="">Coderthemes</a> 
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
        <!-- END wrapper -->
    

        <!-- Vendor js -->
        <script src="/static/js/vendor.min.js"></script>

        <!-- Plugins js-->
        <script src="/static/libs/flatpickr/flatpickr.min.js"></script>
        <script src="/static/libs/jquery-knob/jquery.knob.min.js"></script>
        <script src="/static/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
        <script src="/static/libs/x-editable/bootstrap-editable.min.js"></script>
        <script src="/static/libs/flot-charts/jquery.flot.js"></script>
        <script src="/static/libs/flot-charts/jquery.flot.time.js"></script>
        <script src="/static/libs/flot-charts/jquery.flot.tooltip.min.js"></script>
        <script src="/static/libs/flot-charts/jquery.flot.selection.js"></script>
        <script src="/static/libs/flot-charts/jquery.flot.crosshair.js"></script>
        <script src="/static/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
        <script src="/static/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
        <script src="/static/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
        <!-- Dashboard 1 init js-->
        <script src="/static/js/pages/dashboard-1.init.js"></script>
        <script src="/static/js/pages/form-pickers.init.js"></script>
        <!-- App js-->
        <script src="/static/js/app.min.js"></script>

        <!-- Api jquery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        
    </body>
</html>