<!-- templates/index.html -->
{% extends "layout.html" %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
{% block content %}
    <div class="content-page">
        <div class="content">
        <!-- Start Content-->
            <div class="container-fluid"> 
            <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <form class="form-inline">
                                    <a href="javascript: void(0);" class="btn btn-blue btn-sm ml-2">
                                        <i class="mdi mdi-autorenew"></i>
                                    </a>
                                </form>
                            </div>   
                            <h4 class="page-title">Dashboard</h4>
                        </div>
                    </div>
                </div><!-- end row -->     
                <!-- end page title --> 

                <!-- start dashboard content -->
                <div class="row" id="dashboard">
                    <!-- add cards here-->
                </div><!-- end row -->

                        
            </div> <!-- container -->

        </div> <!-- content -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    
    <!-- Api jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Moment.js -->
    <script src="https://unpkg.com/moment"></script>

    <!-- Load Cards' Data -->
    <script>
        var clients_id = {{ clientes | safe }};
        var largo = clients_id.length;
        for (let i = 0; i < largo; i++) {
            let client_name = clients_id[i];
            url = "http://dashboard.xenitt.cl:5000/api/v1/resources/clients?name=" + client_name;
            $.getJSON(url, function(cliente){
                for (element of cliente){

                    var colDiv = document.createElement("div");
                    colDiv.classList.add("col-xl-6");

                    var cardDiv = document.createElement("div");
                    cardDiv.classList.add("card-box");

                    var rowInfo = document.createElement("div");
                    rowInfo.classList.add("row");

                    //Logo content
                    var imgDiv = document.createElement("div");
                    imgDiv.classList.add("col-6");

                    var logoDiv = document.createElement("div");
                    logoDiv.classList.add("logo-box");

                    var logoA = document.createElement("a");
                    logoA.classList.add("logo1");
                    logoA.classList.add("text-left");

                    var logoSpan = document.createElement("span");
                    logoSpan.classList.add("logo-lg");

                    var logoImg = document.createElement("img");
                    logoImg.src = "/static/images/logos/" + client_name + ".png";
                    logoImg.height = 30;

                    //Text content
                    var divTextInfo = document.createElement("div");
                    divTextInfo.classList.add("col-6");

                    var divRight = document.createElement("div");
                    divRight.classList.add("text-right");

                    var clientName = document.createElement("h3");
                    clientName.classList.add("text-dark");
                    clientName.classList.add("my-1");

                    var clientDate = document.createElement("p");
                    clientDate.classList.add("sub-header");
                    clientDate.classList.add("text-truncate");
                    clientDate.classList.add("text-muted");

                    //Progress bar content
                    var progBarDiv = document.createElement("div");                        
                    progBarDiv.classList.add("mt-3");                        
                    progBarDiv.classList.add("mb-3");

                    var progBarH6 = document.createElement("h6");
                    progBarH6.classList.add("text-uppercase");
                    var progBarText = document.createTextNode("Sensores Activos");
                    progBarH6.appendChild(progBarText);

                    var progBarSpankMyButt = document.createElement("span");
                    progBarSpankMyButt.classList.add("float-right");

                    var progBarProgress = document.createElement("div");
                    progBarProgress.classList.add("progress");
                    progBarProgress.classList.add("progress-m");
                    progBarProgress.classList.add("m-0");

                    var progBarProgressDiv = document.createElement("div");
                    progBarProgressDiv.classList.add("progress-bar");
                    progBarProgressDiv.classList.add("progress-bar-striped");
                    progBarProgressDiv.classList.add("progress-bar-animated");
                    progBarProgressDiv.setAttribute("role","progressbar");
                    progBarProgressDiv.setAttribute("aria-valuenow","75");
                    progBarProgressDiv.setAttribute("aria-valuemin","0");
                    progBarProgressDiv.setAttribute("aria-valuemax","100");
                    
                    //Table content
                    var tableDiv = document.createElement("div");
                    tableDiv.classList.add("table-responsive");

                    var tableTable = document.createElement("table");
                    tableTable.classList.add("table");
                    tableTable.classList.add("table-borderless");
                    tableTable.classList.add("table-hover");
                    tableTable.classList.add("table-centered");
                    tableTable.classList.add("m-0");

                    var tableTHead = document.createElement("thead");
                    tableTHead.classList.add("thead-light");

                    var tableTR = document.createElement("tr");

                    var tableTH1 = document.createElement("th");
                    var textTH1 = document.createTextNode("Nombre Sensor");
                    tableTH1.appendChild(textTH1);

                    var tableTH2 = document.createElement("th");
                    var textTH2 = document.createTextNode("Última Medición");
                    tableTH2.appendChild(textTH2);

                    var tableTH3 = document.createElement("th");
                    var textTH3 = document.createTextNode("Estado");
                    tableTH3.appendChild(textTH3);

                    var name;
                    var date;

                    for (key in element){
                        if (key == 'name'){
                            name = document.createTextNode(element[key]);
                            clientName.appendChild(name);
                        }
                        else{
                            date = document.createTextNode(moment(element[key]).format('ddd, DD MMM YYYY'));
                            clientDate.appendChild(date);                             
                        }
                    }
                    //Text info append
                    divRight.appendChild(clientName);
                    divRight.appendChild(clientDate);
                    divTextInfo.appendChild(divRight);
                    //Image append
                    logoSpan.appendChild(logoImg);
                    logoA.appendChild(logoSpan);
                    logoDiv.appendChild(logoA);
                    imgDiv.appendChild(logoDiv);
                    //Card append
                    rowInfo.appendChild(imgDiv);
                    rowInfo.appendChild(divTextInfo);
                    cardDiv.appendChild(rowInfo);
                    //Progressbar append
                    progBarProgress.appendChild(progBarProgressDiv);
                    progBarH6.appendChild(progBarSpankMyButt);
                    progBarDiv.appendChild(progBarH6);
                    progBarDiv.appendChild(progBarProgress);
                    cardDiv.appendChild(progBarDiv);
                    //Table append
                    tableTR.appendChild(tableTH1);
                    tableTR.appendChild(tableTH2);
                    tableTR.appendChild(tableTH3);
                    tableTHead.appendChild(tableTR);
                    tableTable.appendChild(tableTHead);
                    tableDiv.appendChild(tableTable);
                    cardDiv.appendChild(tableDiv);
                    //Table data append
                    var url_sensors = 'http://dashboard.xenitt.cl:5000/api/v1/resources/sensorlist?client=' + clients_id[i];
                    var totalSensors = 0;
                    var activeSensors = 0;
                    
                    $.getJSON(url_sensors, function(sensors){
                        for(element of sensors){
                            //Total amount of sensors
                            totalSensors += 1;
                            //Default values for status column
                            var status = "Inactivo";
                            var class1 = "bg-soft-danger";
                            var class2 = "text-danger";
                            //Create row for every sensor
                            let row = tableTable.insertRow();
                            
                            let cellName = row.insertCell();

                            let textName = document.createTextNode(element['sensor_label']);
                            var tableName = document.createElement("h5");
                            tableName.appendChild(textName);
                            cellName.appendChild(tableName);

                            let cellDate = row.insertCell();

                            let textDate = document.createTextNode(moment(element['measured_on']).format('ddd, DD MMM YYYY HH:mm:ss'));
                            cellDate.appendChild(textDate);

                            //Status
                            var now = moment(new Date()); //todays date
                            var measuring_date = moment(element['measured_on']); // ultima_medicion's date
                            //Calculating time difference between todays date and last measuring date
                            var difference = moment.duration(now.diff(measuring_date));
                            var minutes = difference.asMinutes();

                            //Changing status values (data and classes) according to the difference between actual datetime and "ultima_medicion" datetime from a sensor
                            if (minutes <= 330){
                                status="Activo";
                                class1 = "bg-soft-success";
                                class2 = "text-success";
                            }
                            else if (minutes < 400 && minutes > 330){
                                status="Intermitente";
                                class1 = "bg-soft-warning";
                                class2 = "text-warning";
                            }

                            //Check if the final status for a sensor is "Activo" to count the amount of active sensors
                            if (status == "Activo"){
                                activeSensors += 1;
                            }

                            //Creating additional cell (this cell will show the status of the sensor)
                            let cell = row.insertCell();
                            //Creating span to show status
                            var statusSpan = document.createElement("span");
                            //Adding classes to span (according to status)
                            statusSpan.classList.add("badge");
                            statusSpan.classList.add(class1);
                            statusSpan.classList.add(class2);
                            //Creating text with current element status
                            var statusText = document.createTextNode(status);
                            //Adding that text to the span element
                            statusSpan.appendChild(statusText);
                            //Adding span to the cell
                            cell.appendChild(statusSpan);
                        }
                        //Calculating final percentage of active sensors
                        var progressPercent = Math.round((activeSensors / totalSensors)*100);
                        //Show the active sensors' percentage on the progress bar
                        progBarSpankMyButt.innerHTML = progressPercent.toString() + "%"; //percentage text
                        progBarProgressDiv.style.width = progressPercent.toString() + "%"; //progress according to percentage
                    })

                    //Adding client card to dashboard
                    colDiv.appendChild(cardDiv);
                    document.getElementById("dashboard").appendChild(colDiv);
                }
            });
        }
    </script>

{% endblock %}
