<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Xenitt - Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="static/images/favicon.ico">

        <!-- App css -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg authentication-bg-pattern">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-pattern">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <a href="{{ url_for('main.panel') }}">
                                        <span><img src="static/images/logo-xenitt.png" alt="" height="60"></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">Aún no tienes una cuenta? Crea tu cuenta, te tomará menos de un minuto</p>
                                </div>

                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="alert alert-danger" role="alert">
                                        <i class="mdi mdi-block-helper mr-2"> </i>{{ messages[0]}}
                                        <a href="{{ url_for('auth.login') }}">Inicia Sesión</a>
                                    </div>
                                {% endif %}
                                {% endwith %}

                                <form method="POST" action="/signup">

                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input class="form-control" type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
                                    </div>
                                    <div class="form-group">
                                            <label for="lastname">Apellido</label>
                                            <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ingresa tu apellido" required>
                                        </div>
                                    <div class="form-group">
                                        <label for="emailaddress">Correo Electrónico</label>
                                        <input class="form-control" type="email" name="email" id="email" required placeholder="Ingresa tu correo electrónico">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Contraseña</label>
                                        <input class="form-control" type="password" required name="password" id="password" placeholder="Ingresa tu contraseña">
                                    </div>
                                    <div class="form-group">
                                        <label for="organizacion">Organización</label>
                                            <select class="form-control" name="organization" id="organization">
                                                {% for organization in organizations %}
                                                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label" for="checkbox-signup">Acepto los <a href="javascript: void(0);" class="text-dark">términos y condiciones</a></label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-success btn-block" type="submit"> Registrarme </button>
                                    </div>

                                </form>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-white-50">Ya tienes una cuenta?  <a href="{{ url_for('auth.login') }}" class="text-white ml-1"><b>Inicia Sesión</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2015 - 2019 &copy; UBold theme by <a href="" class="text-white-50">Coderthemes</a> 
        </footer>

        <!-- Vendor js -->
        <script src="static/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="static/js/app.min.js"></script>
        
    </body>
</html>