{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<!-- Begin page -->

<div id="wrapper">
    <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Registrar Usuario</h4>
                            </div>
                        </div>
                    </div>     
                    <!-- end page title --> 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card bg-pattern">
                                <div class="card-body p-4">
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="alert alert-danger" role="alert">
                                            <i class="mdi mdi-block-helper mr-2"> </i>{{ messages[0]}}
                                        </div>
                                    {% endif %}
                                    {% endwith %}
                                    <form method="POST" action="/users/register">
                                        <div class="form-group">
                                            <label for="name">Nombre</label>
                                            <input class="form-control" type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">Apellido</label>
                                            <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ingresa tu apellido" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailaddress">Correo Electrónico</label>
                                            <input class="form-control" type="email" name="email" id="email" required placeholder="Ingresa tu correo electrónico">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Contraseña</label>
                                            <input class="form-control" type="password" required name="password" id="password" placeholder="Ingresa tu contraseña">
                                        </div>
                                        <div class="form-group">
                                            <label for="organizacion">Organización</label>
                                                <select class="form-control" name="organization" id="organization">
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization.id }}">{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                                <div class="form-group mb-0 text-center">
                                                    <button class="btn btn-success btn-block" type="submit"> Registrar </button>
                                                </div>

                                    </form>
                                </div> <!-- end card-body -->
                            </div><!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}